@import "src/ui/colors";
@import "src/ui/variables";

.contentContainer {
  border-radius: 4px;
  box-shadow: $box-shadow;
  background-color: $white-color;
  padding-bottom: 20px;
}

.header {
  padding: 39px 32px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray-color;

  .headerLeft {
    flex: 0 0 230px;
  }
  .headerMiddle {
    flex: 0 0 230px;
    display: flex;
    justify-content: center;
  }
  .headerRight {
    flex: 0 0 230px;
    display: flex;
    justify-content: flex-end;
  }
}

.searchBar {
  flex: 100%;
  margin-bottom: $spacing-large;
}
