@import "src/ui/colors";
@import "src/ui/variables";

.contentContainer {
  padding: 24px 24px 16px;
  border-radius: 4px;
  box-shadow: $box-shadow;
  background-color: $white-color;
  padding-bottom: 20px;
}

.header {
  padding: 0px 0px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray-color;

  .headerLeft {
    flex: 0 0 230px;
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-500;
  }

  .headerRight {
    flex: 0 0 230px;
    display: flex;
    justify-content: flex-end;
  }
}
