@import "src/ui/colors";
@import "src/ui/variables";

.productFilter {
  padding-top: $spacing-medium;
  height: 100px;
}

.iconFontSize {
  font-size: $font-size-xxlarge;
}
.checkboxFilter {
  font-size: $font-size-small;
  padding-left: $spacing-xlarge;
  padding-top: 14px;
}
