$box-shadow: 0 3px 3px 0 rgba(52, 49, 76, 0.15);

$persian-green: #0495a1;
$gray-color: #737186;

$blue-color: #4876e7;
$dark-blue-color: #001283;

$white-color: #ffffff;
$black-color: #34314c;

$gradient-color: linear-gradient(0deg, #0096a1, #1ca96c);
$gradient-hover-color: linear-gradient(0deg, #1ca96c, #0096a1);
