$box-shadow: 0 3px 3px 0 rgba(52, 49, 76, 0.15);

$persian-green: #0495a1;
$gray-color: #737186;
$lighter-gray-color: #f7f6fc;
$light-gray-color: #e6e5ef;
$gray-suit-color: #b9b6ca;

$cloudy-blue-color: #b9b6ca;
$blue-color: #4876e7;
$dark-blue-color: #001283;

$white-color: #ffffff;
$black-color: #34314c;

$gradient-color: linear-gradient(0deg, #0096a1, #1ca96c);
$gradient-hover-color: linear-gradient(0deg, #1ca96c, #0096a1);

$bg-color: #f3f4ff;

$orange-color: #f7883c;
$light-orange-color: #fdd9c1;

$brand-secondary: #1890ff;
$header-shadow: 0px 1px 4px rgba(0, 21, 41, 0.12);
