@font-face {
  font-family: "Inter";
  src: url("./static/Inter-Regular-slnt=0.ttf") format("truetype");
  src: url("./static/Inter-SemiBold-slnt=0.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
