@import "src/ui/colors";
@import "src/ui/variables";

.container {
  height: 100vh;
  padding-top: 110px;
}

.card {
  width: 570px;
  min-height: 510px;
  border-radius: 4px;
  box-shadow: $box-shadow;
  border: none;
  display: flex;

  :global(.ant-card-body) {
    padding: $spacing-xxlarge;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.logoContainer {
  text-align: center;
}

.logo {
  color: $persian-green;
  width: 250px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}
